.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fbc2eb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1))
}

.socials {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;

    &__container {
        display: flex;
        justify-content: center;
        gap: .6rem;
        margin-top: 1rem;
    }

    & > * {
        font-size: 1.5rem;
    }
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}