$color-primary-1: #3d55c0;
$color-primary-2: #2f5cff;
$color-white: #fff;
$color-black: #000;

.top {
    width: 100%;
    background-color: lightblue;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // background-image: linear-gradient(to right, $color-primary-1, $color-primary-2);

    &-btn {
        width: 10rem;
        border-radius: .5rem;
    }
}